
<section class="main-wrapper" id="buy">
  <div class="trigger"></div>
  <div class="section-text-wrapper">
    <div class="section-text-big">
      <h2><strong>Get Streamline now. <br/></strong>Expand your toolkit.</h2>
    </div>
  </div>
  <div class="section-content">
    <div class="price-panel-group">
      <div class="price-panel price-panel--free">
        <div class="price-panel-content">
          <div class="top-content">
            <h3>Free</h3>
            <p>Snag a variety of 100 different icons in 3 different weights. Try before you buy.</p>
            <ul>
              <li>&nbsp;</li>
              <li style="font-family: monospace;">input fields coming soon =)</li>
            </ul>
          </div>
          <div class="cta-group"><a href="#">
              <div class="emoji">☺️</div>Yes please<span>FREE</span></a>
            <p>Costs nothing. How can you refuse?!</p>
          </div>
        </div>
      </div>
      <div class="price-panel price-panel--essential">
        <div class="price-panel-content">
          <div class="top-content">
            <h3>Essential</h3>
            <p>This pack includes 14 categories specifically for UI design. Choose 1 weight or get them all.</p>
            <ul>
              <li><a href="https://transactions.sendowl.com/products/77730842/628CEFFE/purchase">
                  <div class="emoji">👉</div>3,000 Light Icons<span>$67</span></a></li>
              <li><a href="https://transactions.sendowl.com/products/77730842/628CEFFE/purchase">
                  <div class="emoji">👍</div>3,000 Regular Icons<span>$67</span></a></li>
              <li><a href="https://transactions.sendowl.com/products/77730842/628CEFFE/purchase">
                  <div class="emoji">👌</div>3,000 Bold Icons<span>$67</span></a></li>
            </ul>
          </div>
          <div class="cta-group"><a href="https://transactions.sendowl.com/products/77730842/628CEFFE/purchase">
              <div class="emoji">😃</div>All 9,000 Icons<span><em>$201</em>$134</span></a>
            <p>Save $67 by getting all three weights.</p>
          </div>
        </div>
      </div>
      <div class="price-panel price-panel--ultimate">
        <div class="price-panel-content">
          <div class="top-content">
            <h3>Ultimate</h3>
            <p>The whole shebang. This pack includes all 72 categories. Choose 1 weight or get them all.</p>
            <ul>
              <li><a href="https://transactions.sendowl.com/products/77730842/628CEFFE/purchase">
                  <div class="emoji">🤘</div>10,500 Light Icons<span>$137</span></a></li>
              <li><a href="https://transactions.sendowl.com/products/77730842/628CEFFE/purchase">
                  <div class="emoji">🙌</div>10,500 Regular Icons<span>$137</span></a></li>
              <li><a href="https://transactions.sendowl.com/products/77730842/628CEFFE/purchase">
                  <div class="emoji">🙏</div>10,500 Bold Icons<span>$137</span></a></li>
            </ul>
          </div>
          <div class="cta-group"><a href="https://transactions.sendowl.com/products/77730842/628CEFFE/purchase">
              <div class="emoji">😍</div>All 31,500 Icons<span><em>$411</em>$274</span></a>
            <p>Save $137 by getting all three weights.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>