section#footer
  div.main-wrapper
    div.icon-animated#icon-footer
    h1
      strong Streamline
      |  3.0
    footer.site-footer

      ul.menu
        li: strong Navigate
        li: a(href="#main") Back to the top!
        li: a(href="#icons") Over 30,000 Icons
        li: a(href="#weights") 3 Distinct Weights
        li: a(href="#workflow") Crazy Fast Workflow
        li: a(href="#action") Icons in Action
        li: a(href="#brands") Brands Love'm
        li: a(href="#webviewer") Web Viewer
        li: a(href="#options") Package Options
        li: a(href="#price") Buy Now


      ul
        li: strong More Resources
        li: a(href="https://www.streamlineicons.com/ux/") Streamline Illustrations
        li: a(href="https://www.webalys.com/nova/") Material Design Icons
        li: a(href="https://www.ego-icons.com/") Angular Icons
        li: a(href="http://emoji.streamlineicons.com/") Free Emoji
        li: a(href="https://streamlineicons.com/ux/lgbt-illustrations.html") Free LGBT Illustrations



      ul
        li: strong Help &amp; Licenses
        li: a(href="https://webalys.gitbook.io/streamline/help-and-tips") Help &amp; Tips
        li: a(href="https://webalys.gitbook.io/streamline/standard-license") Standard License
        li: a(href="https://webalys.gitbook.io/streamline/extended-license") Extended License
        li: a(href="https://webalys.gitbook.io/streamline/privacy-policy") Privacy Policy
        li: a(href="https://webalys.gitbook.io/streamline/30-day-money-back-guarantee") Refund Policy


      ul
        li: strong Credits
        li: a(href="http://twitter.com/webalys") Icons by @webalys
        li: a(href="http://twitter.com/yupnguyen") Animations by @yup
        li: a(href="http://twitter.com/clementsauvage") App by @clementsauvage
        li: a(href="http://twitter.com/mds") Site by @mds

      ul
        li: strong Even More
        li: a(href="http://www.webalys.com/#story") Our Story
        li: a(href="https://medium.com/streamline-icons/whats-new-in-streamline-3-0-1439d0951931") What's new in Streamline 3.0
        li: a(href="http://introtoicons.com") Free Intro to Icons Course
        li: a(href="http://iconutopia.com/build-your-dribbble-audience/") Build Your Dribbble Audience
        li: a(href="https://webalys.gitbook.io/streamline/lets-make-some-money-shall-we") Affiliates
        li: a(href="mailto:vincent@webalys.com") Email Us
