footer
  ul.inline
    li: a(href="affiliates") Affiliates
    li: a(href="contact") Contact
    li: a(href="standard-license") Standard License
    li: a(href="extended-license") Extended License
    li: a(href="privacy-policy") Privacy Policy
    li: a(href="refund-policy") Refund Policy

