form#subForm.js-cm-form(action='https://www.createsend.com/t/subscribeerror?description=', autocomplete="off", method='post', data-id='2BE4EF332AA2E32596E38B640E905619B9F531634E2A4CEA5E5AFDDDE9ED4AF3EC17BB92BC47C174BE8DA09FEB5A4F39FDCA2C38182879144B6A5D0CE3E53FDA')

  div.form-label
    label.inp(for='fieldName')
      input#fieldName(type='text', name='cm-name', placeholder=' ')
      span.label First Name

  div.form-label
    label.inp(for='fieldEmail')
      input#fieldName.js-cm-email-input(type='email', name='cm-zktudr-zktudr', placeholder=' ', required='')
      span.label Email

  div.cta-group
    button.js-cm-submit-button(type='submit')
      div.emoji ☺️
      | Yes please
      span FREE
    p Join the Streamline list and get'm free!

script(src="https://js.createsend1.com/javascript/copypastesubscribeformlogic.js")




