
<section class="solid" id="icons">
  <div class="main-wrapper">
    <div class="trigger"></div>
    <div class="section-split">
      <div class="section-left">
        <div class="section-text-wrapper">
          <h2>Over 30,000 something icons</h2>
        </div>
        <ul class="weight-selector">
          <li><a href="#">Light</a></li>
          <li><a href="#">Regular</a></li>
          <li><a href="#">Bold</a></li>
        </ul>
      </div>
      <div class="section-right">
        <p>You read that right. Lots of icons in this release! Over 10,500 in three different weights. 53 categories, 720 sub categories, and over 30,000 something in total. We’ve actually lost count...</p>
        <div class="section-right-icon-wrapper">
          <h3>User Interface<span>57 sets  <em>–</em>  943 icons</span></h3>
          <div class="section-right-container">
            <ul>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
            </ul>
          </div>
        </div>
        <div class="section-right-icon-wrapper">
          <h3>User Interface<span>57 sets  <em>–</em>  943 icons</span></h3>
          <div class="section-right-container">
            <ul>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
            </ul>
          </div>
        </div>
        <div class="section-right-icon-wrapper">
          <h3>User Interface<span>57 sets  <em>–</em>  943 icons</span></h3>
          <div class="section-right-container">
            <ul>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
            </ul>
          </div>
        </div>
        <div class="section-right-icon-wrapper">
          <h3>User Interface<span>57 sets  <em>–</em>  943 icons</span></h3>
          <div class="section-right-container">
            <ul>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
            </ul>
          </div>
        </div>
        <div class="section-right-icon-wrapper">
          <h3>User Interface<span>57 sets  <em>–</em>  943 icons</span></h3>
          <div class="section-right-container">
            <ul>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
            </ul>
          </div>
        </div>
        <div class="section-right-icon-wrapper">
          <h3>User Interface<span>57 sets  <em>–</em>  943 icons</span></h3>
          <div class="section-right-container">
            <ul>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
            </ul>
          </div>
        </div>
        <div class="section-right-icon-wrapper">
          <h3>User Interface<span>57 sets  <em>–</em>  943 icons</span></h3>
          <div class="section-right-container">
            <ul>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
            </ul>
          </div>
        </div>
        <div class="section-right-icon-wrapper">
          <h3>User Interface<span>57 sets  <em>–</em>  943 icons</span></h3>
          <div class="section-right-container">
            <ul>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target">
                    <li>
                      <svg>
                        <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                      </svg>
                    </li>
                    <li>
                      <svg>
                        <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                      </svg>
                    </li>
                    <li>
                      <svg>
                        <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                      </svg>
                    </li>
                    <li>
                      <svg>
                        <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                      </svg>
                    </li>
                    <li>
                      <svg>
                        <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                      </svg>
                    </li>
                    <li>
                      <svg>
                        <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                      </svg>
                    </li>
                    <li>
                      <svg>
                        <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                      </svg>
                    </li>
                    <li>
                      <svg>
                        <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                      </svg>
                    </li>
                  </use>
                </svg>
              </li>
            </ul>
          </div>
          <div class="section-right-container"><a class="big-cta" href="#">See all 53 categories</a></div>
          <div class="section-right-container">
            <blockquote>
              <p>“The only icon set I've ever used. And the only one I will ever use. No regrets and not even worth looking at other ones.”</p>
              <footer>
                <div class="cite">
                  <h5>Tobias Van Schneider</h5>
                  <h6>Semplice</h6>
                </div><img src="_assets/img/people/tobias.jpg"/>
              </footer>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>