section#icons.solid
  div.main-wrapper
    div.trigger
    div.section-split
      div.section-left
        div.section-text-wrapper
          h2 Over 30,000 something icons
      div.section-right
        p You read that right. Lots of icons in this release! Over 10,500 in three different weights. 53 categories, 720 sub categories, and over 30,000 something in total. We’ve actually lost count...
        //- p Keep scrolling for a litte sample to whet your appetite.
        div.weight-selector-wrapper
          ul.weight-selector
            li: a(id="light").is-active
              svg: use(xlink:href="#icon-divider-light-skull-1")
              span Light
            li: a(id="regular")
              svg: use(xlink:href="#icon-divider-regular-skull-1")
              span Regular
            li: a(id="bold")
              svg: use(xlink:href="#icon-divider-bold-skull-1")
              span Bold

        div.section-right-content.icon-categories
          //- icon category
          div.section-right-icon-wrapper#interface
            h3 User Interface
            h4 58 sets  <em>–</em>  954 icons
            div.section-right-container
              ul.icons--light.icons-showing
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-01-interface-light-alert-message-laptop")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-01-interface-light-cog-double-3")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-01-interface-light-face-id-3")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-01-interface-light-graph-stats-circle")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-01-interface-light-headphones-customer-support-human-1")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-01-interface-light-login-2")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-01-interface-light-pen-write")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-01-interface-light-pie-line-graph-desktop")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-01-interface-light-pin")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-01-interface-light-screwdriver")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-01-interface-light-settings-slider-desktop-vertical")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-01-interface-light-settings-toggle-horizontal")
              ul.icons--regular.icons-hidden
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-01-interface-regular-alert-message-laptop")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-01-interface-regular-cog-double-3")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-01-interface-regular-face-id-3")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-01-interface-regular-graph-stats-circle")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-01-interface-regular-headphones-customer-support-human-1")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-01-interface-regular-login-2")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-01-interface-regular-pen-write")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-01-interface-regular-pie-line-graph-desktop")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-01-interface-regular-pin")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-01-interface-regular-screwdriver")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-01-interface-regular-settings-slider-desktop-vertical")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-01-interface-regular-settings-toggle-horizontal")
              ul.icons--bold.icons-hidden
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-01-interface-bold-alert-message-laptop")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-01-interface-bold-cog-double-3")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-01-interface-bold-face-id-3")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-01-interface-bold-graph-stats-circle")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-01-interface-bold-headphones-customer-support-human-1")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-01-interface-bold-login-2")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-01-interface-bold-pen-write")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-01-interface-bold-pie-line-graph-desktop")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-01-interface-bold-pin")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-01-interface-bold-screwdriver")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-01-interface-bold-settings-slider-desktop-vertical")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-01-interface-bold-settings-toggle-horizontal")

          //- icon category
          div.section-right-icon-wrapper#social
            h3 Social Media
            h4 13 sets  <em>–</em>  175 icons
            div.section-right-container
              ul.icons--light.icons-showing
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-02-social-light-award-medal-1")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-02-social-light-certified-ribbon-2")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-02-social-light-flag-plain-1")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-02-social-light-like-1")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-02-social-light-like-click")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-02-social-light-love-it-phone")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-02-social-light-mood-happy-laptop")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-02-social-light-mood-rock")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-02-social-light-ranking-first")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-02-social-light-rating-star-square")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-02-social-light-social-profile-click")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-02-social-light-social-profile-smartphone-add")
              ul.icons--regular.icons-hidden
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-02-social-regular-award-medal-1")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-02-social-regular-certified-ribbon-2")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-02-social-regular-flag-plain-1")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-02-social-regular-like-1")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-02-social-regular-like-click")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-02-social-regular-love-it-phone")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-02-social-regular-mood-happy-laptop")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-02-social-regular-mood-rock")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-02-social-regular-ranking-first")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-02-social-regular-rating-star-square")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-02-social-regular-social-profile-click")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-02-social-regular-social-profile-smartphone-add")
              ul.icons--bold.icons-hidden
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-02-social-bold-award-medal-1")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-02-social-bold-certified-ribbon-2")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-02-social-bold-flag-plain-1")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-02-social-bold-like-1")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-02-social-bold-like-click")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-02-social-bold-love-it-phone")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-02-social-bold-mood-happy-laptop")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-02-social-bold-mood-rock")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-02-social-bold-ranking-first")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-02-social-bold-rating-star-square")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-02-social-bold-social-profile-click")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-02-social-bold-social-profile-smartphone-add")

          //- icon category
          div.section-right-icon-wrapper#programming
            h3 Programming
            h4 13 sets  <em>–</em>  387 icons
            div.section-right-container
              ul.icons--light.icons-showing
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-03-programming-light-browser-hand")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-03-programming-light-browser-page-account")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-03-programming-light-database-share")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-03-programming-light-firewall")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-03-programming-light-module-phone-puzzle")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-03-programming-light-monitor-page")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-03-programming-light-programming-flag")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-03-programming-light-programming-hold-laptop")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-03-programming-light-programming-language-code")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-03-programming-light-programming-search")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-03-programming-light-programming-team-chat")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-03-programming-light-responsive-design")
              ul.icons--regular.icons-hidden
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-03-programming-regular-browser-hand")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-03-programming-regular-browser-page-account")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-03-programming-regular-database-share")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-03-programming-regular-firewall")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-03-programming-regular-module-phone-puzzle")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-03-programming-regular-monitor-page")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-03-programming-regular-programming-flag")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-03-programming-regular-programming-hold-laptop")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-03-programming-regular-programming-language-code")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-03-programming-regular-programming-search")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-03-programming-regular-programming-team-chat")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-03-programming-regular-responsive-design")
              ul.icons--bold.icons-hidden
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-03-programming-bold-browser-hand")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-03-programming-bold-browser-page-account")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-03-programming-bold-database-share")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-03-programming-bold-firewall")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-03-programming-bold-module-phone-puzzle")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-03-programming-bold-monitor-page")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-03-programming-bold-programming-flag")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-03-programming-bold-programming-hold-laptop")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-03-programming-bold-programming-language-code")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-03-programming-bold-programming-search")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-03-programming-bold-programming-team-chat")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-03-programming-bold-responsive-design")

          //- icon category
          div.section-right-icon-wrapper#business
            h3 Business
            h4 13 sets  <em>–</em>  226 icons
            div.section-right-container
              ul.icons--light.icons-showing
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-04-business-light-ab-testing-chemistry")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-04-business-light-advertising-megaphone")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-04-business-light-analytics-graph-bar")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-04-business-light-business-climb-top")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-04-business-light-business-contract-give")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-04-business-light-business-deal-handshake")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-04-business-light-business-flame")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-04-business-light-business-shark-1")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-04-business-light-business-team-goal")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-04-business-light-business-trip-plane")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-04-business-light-profile-user-cash-message")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-04-business-light-startup-launch-1")
              ul.icons--regular.icons-hidden
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-04-business-regular-ab-testing-chemistry")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-04-business-regular-advertising-megaphone")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-04-business-regular-analytics-graph-bar")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-04-business-regular-business-climb-top")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-04-business-regular-business-contract-give")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-04-business-regular-business-deal-handshake")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-04-business-regular-business-flame")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-04-business-regular-business-shark-1")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-04-business-regular-business-team-goal")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-04-business-regular-business-trip-plane")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-04-business-regular-profile-user-cash-message")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-04-business-regular-startup-launch-1")
              ul.icons--bold.icons-hidden
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-04-business-bold-ab-testing-chemistry")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-04-business-bold-advertising-megaphone")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-04-business-bold-analytics-graph-bar")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-04-business-bold-business-climb-top")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-04-business-bold-business-contract-give")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-04-business-bold-business-deal-handshake")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-04-business-bold-business-flame")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-04-business-bold-business-shark-1")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-04-business-bold-business-team-goal")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-04-business-bold-business-trip-plane")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-04-business-bold-profile-user-cash-message")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-04-business-bold-startup-launch-1")


          //- icon category
          div.section-right-icon-wrapper#design
            h3 Design
            h4 17 sets  <em>–</em>  231 icons
            div.section-right-container
              ul.icons--light.icons-showing
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-05-design-light-artboard-image")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-05-design-light-color-brush-paint")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-05-design-light-color-bucket")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-05-design-light-color-palette-1")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-05-design-light-color-palette-sample-1")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-05-design-light-design-pen-tool")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-05-design-light-design-tool-layout")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-05-design-light-design-tool-pen-station")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-05-design-light-design-tool-pens")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-05-design-light-graphic-tablet-draw")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-05-design-light-shape-rhomboid")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-05-design-light-vectors-pen-anchor")
              ul.icons--regular.icons-hidden
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-05-design-regular-artboard-image")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-05-design-regular-color-brush-paint")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-05-design-regular-color-bucket")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-05-design-regular-color-palette-1")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-05-design-regular-color-palette-sample-1")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-05-design-regular-design-pen-tool")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-05-design-regular-design-tool-layout")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-05-design-regular-design-tool-pen-station")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-05-design-regular-design-tool-pens")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-05-design-regular-graphic-tablet-draw")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-05-design-regular-shape-rhomboid")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-05-design-regular-vectors-pen-anchor")
              ul.icons--bold.icons-hidden
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-05-design-bold-artboard-image")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-05-design-bold-color-brush-paint")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-05-design-bold-color-bucket")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-05-design-bold-color-palette-1")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-05-design-bold-color-palette-sample-1")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-05-design-bold-design-pen-tool")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-05-design-bold-design-tool-layout")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-05-design-bold-design-tool-pen-station")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-05-design-bold-design-tool-pens")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-05-design-bold-graphic-tablet-draw")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-05-design-bold-shape-rhomboid")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-05-design-bold-vectors-pen-anchor")

          //- icon category
          div.section-right-icon-wrapper#avatars
            h3 Avatars
            h4 32 sets  <em>–</em>  296 icons
            div.section-right-container
              ul.icons--light.icons-showing
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-06-avatars-light-history-man-napoleon")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-06-avatars-light-people-man-12")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-06-avatars-light-people-man-cap-1")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-06-avatars-light-people-man-graduate")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-06-avatars-light-people-woman-1")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-06-avatars-light-people-woman-7")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-06-avatars-light-police-man-spy-2")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-06-avatars-light-police-woman-2")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-06-avatars-light-professions-man-magician")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-06-avatars-light-professions-man-post")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-06-avatars-light-professions-woman-doctor-2")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-06-avatars-light-professions-woman-telecommunicator")
              ul.icons--regular.icons-hidden
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-06-avatars-regular-history-man-napoleon")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-06-avatars-regular-people-man-12")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-06-avatars-regular-people-man-cap-1")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-06-avatars-regular-people-man-graduate")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-06-avatars-regular-people-woman-1")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-06-avatars-regular-people-woman-7")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-06-avatars-regular-police-man-spy-2")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-06-avatars-regular-police-woman-2")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-06-avatars-regular-professions-man-magician")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-06-avatars-regular-professions-man-post")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-06-avatars-regular-professions-woman-doctor-2")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-06-avatars-regular-professions-woman-telecommunicator")
              ul.icons--bold.icons-hidden
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-06-avatars-bold-history-man-napoleon")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-06-avatars-bold-people-man-12")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-06-avatars-bold-people-man-cap-1")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-06-avatars-bold-people-man-graduate")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-06-avatars-bold-people-woman-1")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-06-avatars-bold-people-woman-7")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-06-avatars-bold-police-man-spy-2")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-06-avatars-bold-police-woman-2")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-06-avatars-bold-professions-man-magician")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-06-avatars-bold-professions-man-post")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-06-avatars-bold-professions-woman-doctor-2")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-06-avatars-bold-professions-woman-telecommunicator")

          //- icon category
          div.section-right-icon-wrapper#ecology
            h3 Ecology
            h4 15 sets  <em>–</em>  140 icons
            div.section-right-container
              ul.icons--light.icons-showing
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-07-ecology-light-clean-bicycle")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-07-ecology-light-ecology-globe-hand")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-07-ecology-light-ecology-globe-house")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-07-ecology-light-ecology-plant-deal")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-07-ecology-light-global-warming-globe-fire-1")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-07-ecology-light-gmo-food-apple")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-07-ecology-light-organic-flask-1")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-07-ecology-light-non-gmo-organic-flask")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-07-ecology-light-organic-plant")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-07-ecology-light-pollution-rain-skull")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-07-ecology-light-renewable-energy-solar-panel")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-07-ecology-light-renewable-energy-wind-turbine-2")
              ul.icons--regular.icons-hidden
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-07-ecology-regular-clean-bicycle")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-07-ecology-regular-ecology-globe-hand")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-07-ecology-regular-ecology-globe-house")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-07-ecology-regular-ecology-plant-deal")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-07-ecology-regular-global-warming-globe-fire-1")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-07-ecology-regular-gmo-food-apple")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-07-ecology-regular-organic-flask-1")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-07-ecology-regular-non-gmo-organic-flask")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-07-ecology-regular-organic-plant")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-07-ecology-regular-pollution-rain-skull")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-07-ecology-regular-renewable-energy-solar-panel")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-07-ecology-regular-renewable-energy-wind-turbine-2")
              ul.icons--bold.icons-hidden
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-07-ecology-bold-clean-bicycle")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-07-ecology-bold-ecology-globe-hand")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-07-ecology-bold-ecology-globe-house")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-07-ecology-bold-ecology-plant-deal")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-07-ecology-bold-global-warming-globe-fire-1")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-07-ecology-bold-gmo-food-apple")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-07-ecology-bold-organic-flask-1")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-07-ecology-bold-non-gmo-organic-flask")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-07-ecology-bold-organic-plant")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-07-ecology-bold-pollution-rain-skull")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-07-ecology-bold-renewable-energy-solar-panel")
                li: div.svg-wrapper: svg: use(xlink:href="#icon-category-07-ecology-bold-renewable-energy-wind-turbine-2")

          div.section-right-container
            a(href="http://viewer.streamlineicons.com").big-cta See all 53 categories

          div.section-right-container
            blockquote
              p “The only icon set I've ever used. And the only one I will ever use. No regrets and not even worth looking at other ones.”
              footer
                div.cite
                  h5 Tobias Van Schneider
                  h6 Semplice
                img(src="_assets/img/people/tobias.jpg")
