
<section class="solid" id="icons">
  <div class="main-wrapper">
    <div class="trigger"></div>
    <div class="section-split">
      <div class="section-left">
        <div class="section-text-wrapper">
          <h2>Over 30,000 something icons</h2>
        </div>
      </div>
      <div class="section-right">
        <p>You read that right. Lots of icons in this release! Over 10,500 in three different weights. 53 categories, 720 sub categories, and over 30,000 something in total. We’ve actually lost count...</p>
        <div class="section-right-icon-wrapper">
          <h3>User Interface<span>57 sets  <em>–</em>  943 icons</span></h3>
          <div class="section-right-container">
            <ul>
              <li>
                <svg>
                  <use xlink:href="_assets/img/categories/07-ecology/02-regular/clean-bicycle.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/categories/07-ecology/02-regular/ecology-globe-hand.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/categories/07-ecology/02-regular/ecology-globe-house.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/categories/07-ecology/02-regular/ecology-plant-deal.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/categories/07-ecology/02-regular/global-warming-globe-fire-1.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/categories/07-ecology/02-regular/gmo-food-apple.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/categories/07-ecology/02-regular/non-gmo-organic-flask.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/categories/07-ecology/02-regular/organic-plant.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/categories/07-ecology/02-regular/pollution-rain-skull.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/categories/07-ecology/02-regular/renewable-energy-solar-panel.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/categories/07-ecology/02-regular/renewable-energy-wind-turbine-2.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/categories/07-ecology/02-regular/clean-bicycle.svg#target"></use>
                </svg>
              </li>
            </ul>
          </div>
        </div>
        <div class="section-right-icon-wrapper">
          <h3>Social Media<span>57 sets  <em>–</em>  943 icons</span></h3>
          <div class="section-right-container">
            <ul>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
            </ul>
          </div>
        </div>
        <div class="section-right-icon-wrapper">
          <h3>Programming<span>57 sets  <em>–</em>  943 icons</span></h3>
          <div class="section-right-container">
            <ul>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
            </ul>
          </div>
        </div>
        <div class="section-right-icon-wrapper">
          <h3>Business<span>57 sets  <em>–</em>  943 icons</span></h3>
          <div class="section-right-container">
            <ul>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
            </ul>
          </div>
        </div>
        <div class="section-right-icon-wrapper">
          <h3>Design<span>57 sets  <em>–</em>  943 icons</span></h3>
          <div class="section-right-container">
            <ul>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
            </ul>
          </div>
        </div>
        <div class="section-right-icon-wrapper">
          <h3>Avatars<span>57 sets  <em>–</em>  943 icons</span></h3>
          <div class="section-right-container">
            <ul>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
            </ul>
          </div>
        </div>
        <div class="section-right-icon-wrapper">
          <h3>Ecology<span>57 sets  <em>–</em>  943 icons</span></h3>
          <div class="section-right-container">
            <ul>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
              <li>
                <svg>
                  <use xlink:href="_assets/img/icons/light/mood-happy.svg#target"></use>
                </svg>
              </li>
            </ul>
          </div>
          <div class="section-right-container"><a class="big-cta" href="#">See all 53 categories</a></div>
          <div class="section-right-container">
            <blockquote>
              <p>“The only icon set I've ever used. And the only one I will ever use. No regrets and not even worth looking at other ones.”</p>
              <footer>
                <div class="cite">
                  <h5>Tobias Van Schneider</h5>
                  <h6>Semplice</h6>
                </div><img src="_assets/img/people/tobias.jpg"/>
              </footer>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>