section#icons.solid
  div.main-wrapper
    div.trigger
    div.section-split
      div.section-left
        div.section-text-wrapper
          h2 Over 30,000 something icons
      div.section-right
        p You read that right. Lots of icons in this release! Over 10,500 in three different weights. 53 categories, 720 sub categories, and over 30,000 something in total. We’ve actually lost count...
        div.weight-selector-wrapper
          ul.weight-selector
            li: a(id="light").is-active
              svg: use(xlink:href="_assets/img/icons/light/skull-1.svg#target")
              span Light
            li: a(id="regular")
              svg: use(xlink:href="_assets/img/icons/regular/skull-1.svg#target")
              span Regular
            li: a(id="bold")
              svg: use(xlink:href="_assets/img/icons/bold/skull-1.svg#target")
              span Bold

        div.section-right-content.icon-categories
          //- icon category
          div.section-right-icon-wrapper#interface
            h3 User Interface - Light
            h4 58 sets  <em>–</em>  954 icons
            div.section-right-container
              ul.icons--light.icons-showing
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/01-interface/01-light/alert-message-laptop.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/01-interface/01-light/cog-double-3.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/01-interface/01-light/face-id-3.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/01-interface/01-light/graph-stats-circle.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/01-interface/01-light/headphones-customer-support-human-1.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/01-interface/01-light/login-2.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/01-interface/01-light/pen-write.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/01-interface/01-light/pie-line-graph-desktop.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/01-interface/01-light/pin.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/01-interface/01-light/screwdriver.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/01-interface/01-light/settings-slider-desktop-vertical.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/01-interface/01-light/settings-toggle-horizontal.svg#target")
              ul.icons--regular.icons-hidden
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/01-interface/02-regular/alert-message-laptop.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/01-interface/02-regular/cog-double-3.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/01-interface/02-regular/face-id-3.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/01-interface/02-regular/graph-stats-circle.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/01-interface/02-regular/headphones-customer-support-human-1.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/01-interface/02-regular/login-2.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/01-interface/02-regular/pen-write.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/01-interface/02-regular/pie-line-graph-desktop.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/01-interface/02-regular/pin.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/01-interface/02-regular/screwdriver.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/01-interface/02-regular/settings-slider-desktop-vertical.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/01-interface/02-regular/settings-toggle-horizontal.svg#target")
              ul.icons--bold.icons-hidden
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/01-interface/03-bold/alert-message-laptop.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/01-interface/03-bold/cog-double-3.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/01-interface/03-bold/face-id-3.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/01-interface/03-bold/graph-stats-circle.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/01-interface/03-bold/headphones-customer-support-human-1.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/01-interface/03-bold/login-2.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/01-interface/03-bold/pen-write.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/01-interface/03-bold/pie-line-graph-desktop.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/01-interface/03-bold/pin.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/01-interface/03-bold/screwdriver.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/01-interface/03-bold/settings-slider-desktop-vertical.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/01-interface/03-bold/settings-toggle-horizontal.svg#target")

          //- icon category
          div.section-right-icon-wrapper#social
            h3 Social Media - Light
            h4 13 sets  <em>–</em>  175 icons
            div.section-right-container
              ul.icons--light.icons-showing
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/02-social/01-light/award-medal-1.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/02-social/01-light/certified-ribbon-2.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/02-social/01-light/flag-plain-1.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/02-social/01-light/like-1.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/02-social/01-light/like-click.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/02-social/01-light/love-it-phone.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/02-social/01-light/mood-happy-laptop.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/02-social/01-light/mood-rock.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/02-social/01-light/ranking-first.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/02-social/01-light/rating-star-square.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/02-social/01-light/social-profile-click.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/02-social/01-light/social-profile-smartphone-add.svg#target")
              ul.icons--regular.icons-hidden
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/02-social/02-regular/award-medal-1.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/02-social/02-regular/certified-ribbon-2.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/02-social/02-regular/flag-plain-1.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/02-social/02-regular/like-1.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/02-social/02-regular/like-click.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/02-social/02-regular/love-it-phone.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/02-social/02-regular/mood-happy-laptop.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/02-social/02-regular/mood-rock.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/02-social/02-regular/ranking-first.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/02-social/02-regular/rating-star-square.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/02-social/02-regular/social-profile-click.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/02-social/02-regular/social-profile-smartphone-add.svg#target")
              ul.icons--bold.icons-hidden
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/02-social/03-bold/award-medal-1.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/02-social/03-bold/certified-ribbon-2.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/02-social/03-bold/flag-plain-1.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/02-social/03-bold/like-1.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/02-social/03-bold/like-click.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/02-social/03-bold/love-it-phone.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/02-social/03-bold/mood-happy-laptop.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/02-social/03-bold/mood-rock.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/02-social/03-bold/ranking-first.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/02-social/03-bold/rating-star-square.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/02-social/03-bold/social-profile-click.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/02-social/03-bold/social-profile-smartphone-add.svg#target")

          //- icon category
          div.section-right-icon-wrapper#programming
            h3 Programming - Light
            h4 13 sets  <em>–</em>  387 icons
            div.section-right-container
              ul.icons--light.icons-showing
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/03-programming/01-light/browser-hand.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/03-programming/01-light/browser-page-account.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/03-programming/01-light/database-share.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/03-programming/01-light/firewall.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/03-programming/01-light/module-phone-puzzle.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/03-programming/01-light/monitor-page.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/03-programming/01-light/programming-flag.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/03-programming/01-light/programming-hold-laptop.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/03-programming/01-light/programming-language-code.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/03-programming/01-light/programming-search.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/03-programming/01-light/programming-team-chat.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/03-programming/01-light/responsive-design.svg#target")
              ul.icons--regular.icons-hidden
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/03-programming/02-regular/browser-hand.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/03-programming/02-regular/browser-page-account.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/03-programming/02-regular/database-share.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/03-programming/02-regular/firewall.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/03-programming/02-regular/module-phone-puzzle.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/03-programming/02-regular/monitor-page.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/03-programming/02-regular/programming-flag.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/03-programming/02-regular/programming-hold-laptop.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/03-programming/02-regular/programming-language-code.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/03-programming/02-regular/programming-search.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/03-programming/02-regular/programming-team-chat.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/03-programming/02-regular/responsive-design.svg#target")
              ul.icons--bold.icons-hidden
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/03-programming/03-bold/browser-hand.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/03-programming/03-bold/browser-page-account.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/03-programming/03-bold/database-share.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/03-programming/03-bold/firewall.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/03-programming/03-bold/module-phone-puzzle.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/03-programming/03-bold/monitor-page.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/03-programming/03-bold/programming-flag.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/03-programming/03-bold/programming-hold-laptop.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/03-programming/03-bold/programming-language-code.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/03-programming/03-bold/programming-search.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/03-programming/03-bold/programming-team-chat.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/03-programming/03-bold/responsive-design.svg#target")

          //- icon category
          div.section-right-icon-wrapper#business
            h3 Business - Light
            h4 13 sets  <em>–</em>  226 icons
            div.section-right-container
              ul.icons--light.icons-showing
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/04-business/01-light/ab-testing-chemistry.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/04-business/01-light/advertising-megaphone.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/04-business/01-light/analytics-graph-bar.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/04-business/01-light/business-climb-top.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/04-business/01-light/business-contract-give.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/04-business/01-light/business-deal-handshake.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/04-business/01-light/business-flame.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/04-business/01-light/business-shark-1.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/04-business/01-light/business-team-goal.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/04-business/01-light/business-trip-plane.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/04-business/01-light/profile-user-cash-message.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/04-business/01-light/startup-launch-1.svg#target")
              ul.icons--regular.icons-hidden
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/04-business/02-regular/ab-testing-chemistry.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/04-business/02-regular/advertising-megaphone.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/04-business/02-regular/analytics-graph-bar.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/04-business/02-regular/business-climb-top.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/04-business/02-regular/business-contract-give.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/04-business/02-regular/business-deal-handshake.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/04-business/02-regular/business-flame.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/04-business/02-regular/business-shark-1.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/04-business/02-regular/business-team-goal.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/04-business/02-regular/business-trip-plane.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/04-business/02-regular/profile-user-cash-message.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/04-business/02-regular/startup-launch-1.svg#target")
              ul.icons--bold.icons-hidden
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/04-business/03-bold/ab-testing-chemistry.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/04-business/03-bold/advertising-megaphone.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/04-business/03-bold/analytics-graph-bar.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/04-business/03-bold/business-climb-top.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/04-business/03-bold/business-contract-give.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/04-business/03-bold/business-deal-handshake.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/04-business/03-bold/business-flame.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/04-business/03-bold/business-shark-1.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/04-business/03-bold/business-team-goal.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/04-business/03-bold/business-trip-plane.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/04-business/03-bold/profile-user-cash-message.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/04-business/03-bold/startup-launch-1.svg#target")


          //- icon category
          div.section-right-icon-wrapper#design
            h3 Design - Light
            h4 17 sets  <em>–</em>  231 icons
            div.section-right-container
              ul.icons--light.icons-showing
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/05-design/01-light/artboard-image.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/05-design/01-light/color-brush-paint.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/05-design/01-light/color-bucket.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/05-design/01-light/color-palette-1.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/05-design/01-light/color-palette-sample-1.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/05-design/01-light/design-pen-tool.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/05-design/01-light/design-tool-layout.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/05-design/01-light/design-tool-pen-station.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/05-design/01-light/design-tool-pens.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/05-design/01-light/graphic-tablet-draw.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/05-design/01-light/shape-rhomboid.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/05-design/01-light/vectors-pen-anchor.svg#target")
              ul.icons--regular.icons-hidden
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/05-design/02-regular/artboard-image.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/05-design/02-regular/color-brush-paint.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/05-design/02-regular/color-bucket.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/05-design/02-regular/color-palette-1.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/05-design/02-regular/color-palette-sample-1.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/05-design/02-regular/design-pen-tool.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/05-design/02-regular/design-tool-layout.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/05-design/02-regular/design-tool-pen-station.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/05-design/02-regular/design-tool-pens.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/05-design/02-regular/graphic-tablet-draw.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/05-design/02-regular/shape-rhomboid.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/05-design/02-regular/vectors-pen-anchor.svg#target")
              ul.icons--bold.icons-hidden
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/05-design/03-bold/artboard-image.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/05-design/03-bold/color-brush-paint.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/05-design/03-bold/color-bucket.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/05-design/03-bold/color-palette-1.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/05-design/03-bold/color-palette-sample-1.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/05-design/03-bold/design-pen-tool.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/05-design/03-bold/design-tool-layout.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/05-design/03-bold/design-tool-pen-station.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/05-design/03-bold/design-tool-pens.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/05-design/03-bold/graphic-tablet-draw.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/05-design/03-bold/shape-rhomboid.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/05-design/03-bold/vectors-pen-anchor.svg#target")

          //- icon category
          div.section-right-icon-wrapper#avatars
            h3 Avatars - Light
            h4 32 sets  <em>–</em>  296 icons
            div.section-right-container
              ul.icons--light.icons-showing
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/06-avatars/01-light/history-man-napoleon.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/06-avatars/01-light/people-man-12.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/06-avatars/01-light/people-man-cap-1.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/06-avatars/01-light/people-man-graduate.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/06-avatars/01-light/people-woman-1.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/06-avatars/01-light/people-woman-7.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/06-avatars/01-light/police-man-spy-2.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/06-avatars/01-light/police-woman-2.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/06-avatars/01-light/professions-man-magician.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/06-avatars/01-light/professions-man-post.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/06-avatars/01-light/professions-woman-doctor-2.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/06-avatars/01-light/professions-woman-telecommunicator.svg#target")
              ul.icons--regular.icons-hidden
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/06-avatars/02-regular/history-man-napoleon.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/06-avatars/02-regular/people-man-12.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/06-avatars/02-regular/people-man-cap-1.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/06-avatars/02-regular/people-man-graduate.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/06-avatars/02-regular/people-woman-1.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/06-avatars/02-regular/people-woman-7.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/06-avatars/02-regular/police-man-spy-2.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/06-avatars/02-regular/police-woman-2.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/06-avatars/02-regular/professions-man-magician.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/06-avatars/02-regular/professions-man-post.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/06-avatars/02-regular/professions-woman-doctor-2.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/06-avatars/02-regular/professions-woman-telecommunicator.svg#target")
              ul.icons--bold.icons-hidden
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/06-avatars/03-bold/history-man-napoleon.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/06-avatars/03-bold/people-man-12.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/06-avatars/03-bold/people-man-cap-1.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/06-avatars/03-bold/people-man-graduate.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/06-avatars/03-bold/people-woman-1.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/06-avatars/03-bold/people-woman-7.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/06-avatars/03-bold/police-man-spy-2.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/06-avatars/03-bold/police-woman-2.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/06-avatars/03-bold/professions-man-magician.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/06-avatars/03-bold/professions-man-post.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/06-avatars/03-bold/professions-woman-doctor-2.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/06-avatars/03-bold/professions-woman-telecommunicator.svg#target")

          //- icon category
          div.section-right-icon-wrapper#ecology
            h3 Ecology - Light
            h4 15 sets  <em>–</em>  140 icons
            div.section-right-container
              ul.icons--light.icons-showing
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/07-ecology/01-light/clean-bicycle.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/07-ecology/01-light/ecology-globe-hand.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/07-ecology/01-light/ecology-globe-house.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/07-ecology/01-light/ecology-plant-deal.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/07-ecology/01-light/global-warming-globe-fire-1.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/07-ecology/01-light/gmo-food-apple.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/07-ecology/01-light/organic-flask-1.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/07-ecology/01-light/non-gmo-organic-flask.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/07-ecology/01-light/organic-plant.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/07-ecology/01-light/pollution-rain-skull.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/07-ecology/01-light/renewable-energy-solar-panel.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/07-ecology/01-light/renewable-energy-wind-turbine-2.svg#target")
              ul.icons--regular.icons-hidden
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/07-ecology/02-regular/clean-bicycle.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/07-ecology/02-regular/ecology-globe-hand.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/07-ecology/02-regular/ecology-globe-house.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/07-ecology/02-regular/ecology-plant-deal.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/07-ecology/02-regular/global-warming-globe-fire-1.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/07-ecology/02-regular/gmo-food-apple.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/07-ecology/02-regular/organic-flask-1.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/07-ecology/02-regular/non-gmo-organic-flask.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/07-ecology/02-regular/organic-plant.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/07-ecology/02-regular/pollution-rain-skull.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/07-ecology/02-regular/renewable-energy-solar-panel.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/07-ecology/02-regular/renewable-energy-wind-turbine-2.svg#target")
              ul.icons--bold.icons-hidden
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/07-ecology/03-bold/clean-bicycle.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/07-ecology/03-bold/ecology-globe-hand.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/07-ecology/03-bold/ecology-globe-house.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/07-ecology/03-bold/ecology-plant-deal.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/07-ecology/03-bold/global-warming-globe-fire-1.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/07-ecology/03-bold/gmo-food-apple.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/07-ecology/03-bold/organic-flask-1.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/07-ecology/03-bold/non-gmo-organic-flask.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/07-ecology/03-bold/organic-plant.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/07-ecology/03-bold/pollution-rain-skull.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/07-ecology/03-bold/renewable-energy-solar-panel.svg#target")
                li: div.svg-wrapper: svg: use(xlink:href="_assets/img/categories/07-ecology/03-bold/renewable-energy-wind-turbine-2.svg#target")

          div.section-right-container
            a().big-cta See all 53 categories (coming soon!)

          div.section-right-container
            blockquote
              p “The only icon set I've ever used. And the only one I will ever use. No regrets and not even worth looking at other ones.”
              footer
                div.cite
                  h5 Tobias Van Schneider
                  h6 Semplice
                img(src="_assets/img/people/tobias.jpg")
