//- layout.pug
html
  head
    block head
      title Streamline 3.0
    block styles
      link(rel="stylesheet" type="text/css" href="style.css")
    block scripts
      script(src='_scripts/jquery.js')
      script(src='_scripts/index.js')
  body
    block header
    header
      h1 Streamline 3.0
      div
        ul.inline.is-hidden
          li: a(href="#") Material Design Icons
          li: a(href="#") Futuristic Icons
          li: a(href="#") Vector Illustrations
          li: a(href="#") Free Emoji
        ul.inline
          li: a.more(href="#") More
          li: a.cta(href="#buy") Buy
    block controls
      div.section-nav
        ul
          li: a(href="#new") What's new
          li: a(href="#more") More icons
          li: a(href="#weights") Introducing weights
          li: a(href="#faster") Faster Workflow
            ul
              li: a(href="#org") Better Organization
              li: a(href="#web") Web Search
              li: a(href="#sketch") Improved Sketch Files
              li: a(href="#svg") Improved SVG
          li: a(href="#buy") Purchasing options
    block content
    block foot
      include foot.pug
