//- index.pug
extends _includes/layout.pug

block head
  title Streamline 3.0 – Home

block content
  h1 Main page
  div.something
    p Here are the static pages needed in addition to this main page
    ul
      li: a(href="/affiliates") Affiliates
      li: a(href="/contact") Contact
      li: a(href="/standard-license") Standard License
      li: a(href="/extended-license") Extended License
      li: a(href="/privacy-policy") Privacy Policy
      li: a(href="/refund-policy") Refund Policy


