//- license/extended/index.pug
extends ../_includes/layout.pug

block head
  title Extended License – Streamline 3.0

block styles
    link(rel="stylesheet" type="text/css" href="../style.css")

block content
  h1 Extended License
  div.something
    p This will be the extended license page
    a(href="../") &larr; Go back

