//- contact/index.pug
extends ../_includes/layout.pug

block head
  title Contact – Streamline 3.0

block styles
    link(rel="stylesheet" type="text/css" href="../style.css")

block content
  h1 Contact
  div.something
    p This will be the contact page
    a(href="../") &larr; Go back

block foot
  p this overrides <code>foot.pug</code> different
