//- license/standard/index.pug
extends ../_includes/layout.pug

block head
  title Standard License – Streamline 3.0

block styles
    link(rel="stylesheet" type="text/css" href="../style.css")

block content
  h1 Standard License
  div.something
    p This will be the standard license page
    a(href="../") &larr; Go back

