//- layout.pug
html
  head
    block head
      title Streamline 3.0
    block styles
      link(rel="stylesheet" type="text/css" href="style.css")
    block scripts
      //- script(src='/jquery.js')
  body
    block content
    block foot
      include foot.pug
