//- layout.pug
html
  head
    block head
      title Streamline 3.0
    block styles
      link(rel="stylesheet" type="text/css" href="style.css")
    block scripts
      //- script(src='/jquery.js')
  body
    block header
    header
      ul.inline
        li: a(href="#") Material Design Icons
        li: a(href="#") Futuristic Icons
        li: a(href="#") Vector Illustrations
        li: a(href="#") Free Emoji
    block content
    block foot
      include foot.pug
