@font-face
  font-family: 'Aribau'
  src: url('_assets/fonts/ArGr1000-Blk.eot')
  src: url('_assets/fonts/ArGr1000-Blk.eot?#iefix') format("embedded-opentype"),
  url('_assets/fonts/ArGr1000-Blk.woff2') format("woff2"),
  url('_assets/fonts/ArGr1000-Blk.woff') format("woff"),
  url('_assets/fonts/ArGr1000-Blk.ttf') format("truetype"),
  url('_assets/fonts/ArGr1000-Blk.svg#font') format("svg")
  font-style: normal
  font-weight: 900
  text-rendering: optimizeLegibility

@font-face
  font-family: 'Aribau'
  src: url('_assets/fonts/ArGr1000-Rg.eot')
  src: url('_assets/fonts/ArGr1000-Rg.eot?#iefix') format("embedded-opentype"),
  url('_assets/fonts/ArGr1000-Rg.woff2') format("woff2"),
  url('_assets/fonts/ArGr1000-Rg.woff') format("woff"),
  url('_assets/fonts/ArGr1000-Rg.ttf') format("truetype"),
  url('_assets/fonts/ArGr1000-Rg.svg#font') format("svg")
  font-style: normal
  font-weight: 400
  text-rendering: optimizeLegibility

@font-face
  font-family: 'Aribau'
  src: url('_assets/fonts/ArGr1000-RgIt.eot')
  src: url('_assets/fonts/ArGr1000-RgIt.eot?#iefix') format("embedded-opentype"),
  url('_assets/fonts/ArGr1000-RgIt.woff2') format("woff2"),
  url('_assets/fonts/ArGr1000-RgIt.woff') format("woff"),
  url('_assets/fonts/ArGr1000-RgIt.ttf') format("truetype"),
  url('_assets/fonts/ArGr1000-RgIt.svg#font') format("svg")
  font-style: italic
  font-weight: 400
  text-rendering: optimizeLegibility

@font-face
  font-family: 'Aribau'
  src: url('_assets/fonts/ArGr1000-Bd.eot')
  src: url('_assets/fonts/ArGr1000-Bd.eot?#iefix') format("embedded-opentype"),
  url('_assets/fonts/ArGr1000-Bd.woff2') format("woff2"),
  url('_assets/fonts/ArGr1000-Bd.woff') format("woff"),
  url('_assets/fonts/ArGr1000-Bd.ttf') format("truetype"),
  url('_assets/fonts/ArGr1000-Bd.svg#font') format("svg")
  font-style: normal
  font-weight: 600
  text-rendering: optimizeLegibility
