header
  display: grid
  grid-template-columns: 1fr 1fr
  position: fixed
  background: rgba($color-white, .9)
  width: 100%
  top: 0
  left: 0
  z-index: 1000

  h1
    font-size: 1rem
    padding-left: 2rem

  ul
    text-align: right
    font-size: $font-small

  a
    text-decoration: none
    color: $color-black
    margin-right: 1rem

    &.cta
      color: $color-white
      background: $color-black
      padding: .175rem .5rem
      border-radius: 3px


