.icon-animated
  width: 36px
  height: 36px

  svg path
    .dark &
      stroke: white
      fill: white

#icon-laptop svg path
  fill: none
  .dark &
    stroke: white

#footer .icon-wrapper
  top:  -10rem !important
  left: 10rem !important
