$color-yellow: yellow
$color-orange: #ff5000
$color-pink: #E8026E
$color-dark: #202020
$color-dark-darken: darken($color-dark, 3%)
$color-black: black
$color-white: white
$color-red: #e6343d
$color-magenta: #ca2657
$color-light: #767676
$color-light-ondark: #999
$color-lightgrey: #fafafa
$color-purple: #515FE2

$color-electricblue: #0099ff
$color-electricpurple: #ff00ff
$color-electricgreen: #00dd22
$color-electricteal: #2AFEF1
$color-electricteal-small: #2EE5E5

$color-bg: $color-white
$color-bg-light: #f9f9f9
$color-body: $color-dark
$color-primary: $color-electricteal
$color-primary-darken: darken($color-electricteal, 10%)
$color-aside-color: rgba($color-black, .5)
$color-lightborder: #E5ECEE
$color-darkborder: #222
$color-darktext: #aaa
$color-ai-bg: #321006
$color-headline: rgba($color-dark, .75)

$color-primary-gradient: linear-gradient(135deg, #78faf0 0%,#2ee5e5 100%)

$leftcolumn: 45%
$rightcolumn: 100% - $leftcolumn


$font-small: .675rem


$site-width: 120rem
