//- policy/refund/index.pug
extends ../_includes/layout.pug

block head
  title Refund Policy – Streamline 3.0

block styles
    link(rel="stylesheet" type="text/css" href="../style.css")

block content
  h1 Refund Policy
  div.something
    p This will be the refund policy page
    a(href="/") &larr; Go back


