//- policy/privacy/index.pug
extends ../_includes/layout.pug

block head
  title Privacy Policy – Streamline 3.0

block styles
    link(rel="stylesheet" type="text/css" href="../style.css")

block content
  h1 Privacy Policy
  div.something
    p This will be the privacy policy page
    a(href="../") &larr; Go back

